p{ color: red;}


h2{ color:rgb(95, 62, 19)}

body {
    background-color: #eee3e3;
    font-family: sans-serif;
}

#minombre {
    color: rgb(243, 23, 7);
    text-align: center;
}

.dato-importante {
    color: #1eff00; 
    font-weight: bold; 
}

main{     
    max-width: 500px;      
    margin: auto;
    margin-top: 20px; 
}

section{    
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

article{    
    background-color: rgb(192, 185, 185);
    padding: 20px;
    display: flex;       
    flex-wrap: wrap;
}
